!!! 5
%html
  %head
    %title Nano War
    %link{ href: "/style.css", rel: "stylesheet", type: "text/css"}

    %script{ data-main: "src/client", src: 'src/require.js' }

    :javascript
      require.config({
        paths: {
            "jquery": "http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min"
        }
      });
  %body
    %canvas#background{ data-processing-sources: "background.pde" }
    %h2 Nano War
    #nanowar
    
    %ul#log