!!! 5
%html
  %head
    %title Nano War
    %link{ href: "/style.css", rel: "stylesheet", type: "text/css"}
    
    %script{ src: "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", type: "text/javascript"}
    %script{ src: "/socket.io/socket.io.js", type: "text/javascript"}
    
    - each script in global_scripts()
      %script{ src: script }
  %body
    %h2 Nano War
    #nanowar
    %button{ onclick: "window.App.game.tick();"  } Tick!
    %ul#log
    
    %script
      :plain
        oldLog = console.log
        console.log = function(text) {
          var ticks = '', ticksText = ''
          if(window.App && window.App.game) {
            ticks = '<b>'+window.App.game.ticks+':</b> '
            ticksText = window.App.game.ticks+': '
          }
          
          $("#log").append($('<li>').html(ticks+text))
          console.debug(ticksText + text)
        }