!!! 5
%html
  %head
    %title Nano War
    %link{ href: "/style.css", rel: "stylesheet", type: "text/css"}
    
    %script{ src: "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", type: "text/javascript"}
    %script{ src: "/socket.io/socket.io.js", type: "text/javascript"}
    
    - each script in global_scripts()
      %script{ src: script }
  %body
    %h2 Nano War
    %svg#nanowar{ height: "500", width:  "700" }
    %button{ onclick: "window.game.tick();"  } Tick!
    %ul#log
    
    :javascript
      console.log = function(text) {
        
        $("#log").append($('<li>').text(text))
      }