/*#nanowar svg {
  border: 1px solid #333333; }
  #nanowar .cell-data {
    text-anchor: middle; }
  #nanowar .cell {
    stroke: none; }
    #nanowar .cell.allied {
      stroke: green;
      stroke-width: 2px; }
    #nanowar .cell.neutral {
      fill: gray; }
    #nanowar .cell.selected {
      fill: orange;
      stroke: black; }*/
