html {
  height: 100%;
}
body {
  background: url(/images/background.jpg);
  margin: 0;
  padding: 0;
  height: 100%;
}

#container {
  text-align: center;
  height: 100%;
  display: table;
  width: 100%;
}

#nanowar {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

#background {
  position: absolute;
  z-index: -100;
  top: 0;
  left: 0;
}
  .blue .inner {
    stop-color: #5e7e9f;
  }
  .blue .outer {
    stop-color: #455269;
  }
  
  .red .inner {
    stop-color: #b14151;
  }
  .red .outer {
    stop-color: #842f3b;
  }

  .grey .inner {
    stop-color: #ccc;
  }
  .grey .outer {
    stop-color: #888;
  }